$purpleColor: #804edd;
$colorWhite: #ffffff;

.section {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 1.25rem;

  p {
    font-size: 1.125rem;
    color: $purpleColor;
  }

  h1 {
    font-size: 1.88rem;
    color: $colorWhite;
    margin-top: 8px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.9375rem;
    margin-top: 20px;

    div {
      display: flex;
      flex-direction: column;
      border: 2px solid transparent;
      align-items: center;
      width: clamp(12.5rem, 4vw, 18.75rem);
      background: $purpleColor;
      padding: 0.625rem;
      border-radius: 0.5rem;
      flex: 1;

      p {
        color: $colorWhite;
      }
    }
  }
}
