$colorPurple: #804edd;
$colorWhite: #ffffff;

.main {
  max-width: 1250px;
  margin: 40px auto 90px auto;
  padding: 0 1.25rem;

  h1 {
    font-size: clamp(1.5625rem, 4vw, 2.5rem);
    font-weight: 700;
    text-align: center;
    color: $colorWhite;
    max-width: 53.13rem;
    width: 100%;
    margin: 0 auto;
    text-wrap: wrap;

    span {
      color: $colorPurple;
    }
  }

  p {
    text-align: center;
    max-width: 25rem;
    color: $colorWhite;
    margin: 0 auto;
  }
}
